.about {
    margin-top: 100px;
    margin-bottom: 100px;

    @media (max-width: 925px) {
        margin-top: 70px;
        margin-bottom: 60px;
    }
    @media (max-width: 500px) {
        margin-top: 70px;
        margin-bottom: 60px;
    }

    @media (max-width: 320px) {
        margin-top: 60px;
        margin-bottom: 50px;
    }
    &-content {
        width: 1110px;
        height: 352px;
        background: #fff;
        box-shadow: 0px 0px 32px 0px rgba(0, 0, 0, 0.08);
        text-align: center;
        padding-top: 100px;
        margin-bottom: 100px;
        @media (max-width: 1117px) {
            width: 900px;
            height: 251px;
            padding-top: 70px;
            margin-bottom: 70px;
        }
        @media (max-width: 1024px) {
            width: 900px;
            height: 251px;
            padding-top: 70px;
            margin-bottom: 70px;
        }
        @media (max-width: 925px) {
            width: 500px;
            height: 201px;
            padding-top: 40px;
            margin-bottom: 40px;
        }
        @media (max-width: 500px) {
            width: 350px;
            height: 201px;
            padding-top: 30px;
            margin-bottom: 30px;
        }
        @media (max-width: 320px) {
            width: 290px;
            height: 181px;
            padding-top: 24px;
            margin-bottom: 24px;
        }
        h2 {
            width: 890px;
            color: #444;
            font-size: 32px;
            font-weight: 600;
            line-height: 120%;
            margin: 0 auto;

            @media (max-width: 1117px) {
                width: 620px;
                font-size: 24px;
                font-weight: 600;
                line-height: 120%;
            }
            @media (max-width: 1024px) {
                width: 520px;
                font-size: 22px;
                font-weight: 600;
                line-height: 120%;
            }
            @media (max-width: 925px) {
                width: 420px;
                font-size: 18px;
                font-weight: 600;
                line-height: 120%;
            }
            @media (max-width: 500px) {
                width: 320px;
                font-size: 17px;
                font-weight: 600;
                line-height: 120%;
            }
            @media (max-width: 320px) {
                width: 280px;
                font-size: 16px;
                font-weight: 600;
                line-height: 120%;
            }
            span {
                color: #b01736;
            }
        }
    }
    &-info {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
        gap: 20px;
        align-items: center;
        text-align: center;
        @media (max-width: 756px) {
            grid-template-columns: repeat(2, 1fr);
        }

        div {
            
            p {
                color: #a30c33;
                font-size: 80px;
                font-weight: 600;
                line-height: 80%;
                @media (max-width: 500px) {
                    font-size: 40px;
                }
                @media (max-width: 380px) {
                    font-size: 35px;
                }
            }
            span {
                color: #444;
                font-size: 18px;
                font-weight: 400;
                line-height: 150%;
                @media (max-width: 500px) {
                    font-size: 16px;
                }
            }
            b {
                color: #a30c33;
                font-size: 64px;
                font-weight: 600;
                line-height: 100%;
                @media (max-width: 500px) {
                    font-size: 40px;
                }
                @media (max-width: 380px) {
                    font-size: 30px;
                } 
            }
        }
    }
}
