@import url("https://fonts.cdnfonts.com/css/proxima-nova-condensed");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    border: none;
    font-family: Proxima Nova Condensed;
}
.container {
    max-width: 1250px;
    margin: 0 auto;
    width: 100%;
    padding: 0 15px;
}
button{
    cursor: pointer;
}
* {
    scrollbar-width: thin;
    scrollbar-color: rgb(105, 105, 105) #dddddd;
}
  
*::-webkit-scrollbar {
    height: 12px;
    width: 12px;
}
*::-webkit-scrollbar-track {
    background: #dddddd;
}
*::-webkit-scrollbar-thumb {
    background-color: rgb(105, 105, 105);
    border-radius: 5px;
    border: 3px solid #dddddd;
}